/* myers reset https://meyerweb.com/eric/tools/css/reset/ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* myers reset end */

* {
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    background-color: rgb(253, 239, 239);
    
}

a{
    text-decoration:none;
  }
/* styles begin here */

.main-content{
    display:flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 1%;
    
}

nav{
    display:flex;
    justify-content: flex-end;
    margin-left: 7%;
    margin-bottom: 2%;
    
    
}

nav a{
    padding:5%; 
    color: black;
    border: 1px solid black;
    background: lightgray;
   
     
}

nav a:hover{
    background: black;
    color: white;
}

header h1, h2, p{
    margin-bottom: 2%;
    
}

h1{
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

header p{
    width: 70%;
}

a {
    color: darkgray;
}

/* background image styles */

.background-image-container{
    background-image: url("/Users/thecrowsnest/Documents/Lambda/Git/User-Interface-II/assets/stefan-kunze--6-uqd2hMCg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    margin-right: 2%;
    margin-left:  2%;
}

/* project thumbnails */

.projects-main{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    
}

.image-container{
    display:flex;
    margin-left: 2%;
   
}
    
.project-image{
    margin-right: 3%;
    
}

.project-text{
    display: flex;
    flex-wrap: wrap;
    font-size:1.5rem;
    justify-content: center;
    align-content: center;
    
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    
    
    
}

.text{
    width: 30%;
    
    

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 14vh;
    background-color: lightgray;
    margin-top: 4%;
    
   
}


.contact-button {
    width: 25%;
    padding: 5%;
    size: 100px;
    margin-top: 2%
}

.contact-button a{
    padding: 8%;
    font-size: 2rem;
    border: 1px solid black;
    color: black;
    background: lightgray;
}

.contact-button a:hover{
    background: black;
    color: white;
}
